header.masthead {
  background: #7b4397;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
}

.bookTitle {
  display: block;
  font-style: italic;
  font-weight: 400;
}

.bg-primary a {
  color: #3b5998;
}
